---
layout: default
---

<div class="posts">
  {% for post in site.posts limit:1 %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.content }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}

  <h3>Recent Posts</h3>
  {% for post in site.posts offset:1 limit:2 %}
    <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
  {% endfor %}
</div>
